body{
  background: rgb(174,220,238);
  background: radial-gradient(circle, rgba(174,220,238,0.4654236694677871) 35%, rgba(108,159,182,0.00043767507002800965) 57%);
  height: 600px;
  overflow: auto;
}

.login-wrapp{
  background: rgb(174,220,238);
  background: radial-gradient(circle, rgba(174,220,238,0.5354516806722689) 4%, rgba(127,205,218,0.19371498599439774) 81%);
  border-radius: 10px;
  border: 1px dotted white;
  display: block;
  position: relative;
  width: 500px;
  margin: 0 auto;
  margin-top: 130px;
  padding: 20px;
}
.login-wrapp > h1  {
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
  text-decoration: underline;
  font-style: italic;
  color: fuchsia;
  font-family: Arial sans-serif;
}

.login-wrapp > p {
  font-size: 15px;
  text-align: center;
  font-style: italic;
  margin-bottom: 20px;
  margin-top: 10px;
}

.logform{
  display: block;
  position: relative;
  width: 36%;
  margin: 0 auto;
}

.logform > label{
  display: block;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: underline;
}

.logform > label > input{
  display: block;
  margin-top: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
}

.buttonsub{
  background-color: #b8defa;
  display: block!important;
  margin: 0 auto!important;
  transition: 0.2s;
  &:hover{
    cursor: pointer;
    text-decoration: none;
    opacity: 0.5;
  }
}

.login-wrapp > a {
  color: #000;
  font-style: italic;
  text-align: center;
  width: 100%;
  display: block;
  padding: 10px;
}


