/* You can add global styles to this file, and also import other style files */

.has-error {
  color: red;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {

  -webkit-appearance: none;
  margin: 0;
}

 select{
   cursor: pointer;
 }

//{
//  background: rgb(238,174,202);
//  background: radial-gradient(circle, rgba(238,174,202,0.5354516806722689) 4%, rgba(130,171,172,0.5382528011204482) 81%);
// }

html{
  background: #fff!important;
}






