header, body {
  font-family: 'Anton', sans-serif;
}
html{
  height: 100%;
}
body{
  overflow: hidden;
  height: 1000px;
  background: rgb(174,220,238);
  background: radial-gradient(circle, rgba(174,220,238,0.4654236694677871) 35%, rgba(108,159,182,0.00043767507002800965) 57%);
}

header{
  background: rgba(147,206,222,1);
  background: -moz-linear-gradient(top, rgba(147,206,222,1) 0%, rgba(117,189,209,0.9) 41%, rgba(73,165,191,0.76) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(147,206,222,1)), color-stop(41%, rgba(117,189,209,0.9)), color-stop(100%, rgba(73,165,191,0.76)));
  background: -webkit-linear-gradient(top, rgba(147,206,222,1) 0%, rgba(117,189,209,0.9) 41%, rgba(73,165,191,0.76) 100%);
  background: -o-linear-gradient(top, rgba(147,206,222,1) 0%, rgba(117,189,209,0.9) 41%, rgba(73,165,191,0.76) 100%);
  background: -ms-linear-gradient(top, rgba(147,206,222,1) 0%, rgba(117,189,209,0.9) 41%, rgba(73,165,191,0.76) 100%);
  background: linear-gradient(to bottom, rgba(147,206,222,1) 0%, rgba(117,189,209,0.9) 41%, rgba(73,165,191,0.76) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf', GradientType=0 );
  height: 40px;
  width: 90%;
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 20px;
  & a {
    color: #166ae9;
    display: block;
    margin: 7px 0 0 20px;
    position: absolute;
    left: 10px;
  }
  & p{
    display: inline-block;
    float: right;
    margin: 7px 20px 0 0;
  }
}

.header-wrapp-content{
  position: relative;
}

.header-wrapp-content > a:hover{
  font-size: 110%;
  transition: 0.1s ease-out;
  text-decoration: none;
  opacity: 0.8;
}


.content-wrapp {
  display: block;
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
}

.logout-header{
  position: absolute;
  left: 80px!important;
  display: block;
  letter-spacing: 5px;
  font-weight:bold;
  cursor: pointer;
}

aside{
  width: 20%;
  display: inline-block;
  background: url("/assets/images/back2.png") bottom no-repeat;
  background-size: contain;
  height: 450px;
  & ul{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  & a {
    margin-bottom: 20px;
    display: block;
    padding: 10px;
    background-color: #b8defa;
    border-radius: 10px;
    height: 42px;

    &:hover{
      cursor: pointer;
      font-size: 110%;
      transition: 0.2s;
      text-decoration: none;
      opacity: 0.7;
    }
  }
}
main{
  display: inline-block;
  width: 75%;
  float: right;

}

.small{
  width: 50%;
  height: auto;
  display: block;
  float: right;
  margin-bottom: 30px;

  & ul{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;

  }
  & a {
    margin-bottom: 20px;
    display: block;
    padding: 10px;
    background-color: #b8defa;
    border-radius: 10px;
    height: 42px;

    &:hover{
      font-size: 110%;
      transition: 0.2s;
      text-decoration: none;
      opacity: 0.7;
    }
  }
}

//media queries 4 system component

@media (max-width: 992px) {

  aside {
    background: none;
  }
}

@media (max-width: 758px) {
  aside{
    display: none;
  }
  main{
    float: left;
    width: 100%;
  }
  .small{
    width: 100%;
  }

}

@media (min-width: 758px) {
  .small{
    display: none;
  }
}

@media (min-width: 1500px) {
  aside{
    height: 500px;
  }
}

@media (min-width: 1900px) {
  aside{
    height: 550px;
  }
}

@media (min-width: 2200px) {
  aside{
    height: 600px;
  }
}



